@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but keep scrolling */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE + Edge */
  scrollbar-width: none;     /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}
